* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.general-container {
    width: 80%;
    margin: 30px 10%;
}

/* immagine 1 */

/* immagine 2 */

/* immagine 3 */

/* immagine 4 */

/* immagine 5 */

/* immagine 6 */